body {
    background-image: resources/index/'IMG_3577.JPG';
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(23, 70, 35);
    font-family:fantasy;
    text-align: center;
  }
  p {
    color: rgb(23, 70, 35);
    padding: 30px;
    text-align: center;

  }
  img {
    display:block;
    margin:auto;
  }
