body {
    background-color: rgb(116, 132, 86);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(23, 70, 35);
    font-family:fantasy;
    text-align: left;
  }

#header {
  color: rgb(23, 70, 35);
  font-family:fantasy;
  text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(23, 70, 35);
    position:relative;
}
li {
  float:inline-start;
}
li a {
    display:block;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(59, 49, 64);
  }
  p {
    color: rgb(23, 70, 35);
    padding: 30px;
    text-align: left;

  }
  img {
    display:block;
    margin:auto;
    float:inline-end;
  }
.topography {
  display:block;
  margin:auto;
  float:auto;
  max-width: 100%;
  height: auto;
}
.grid {
  display:grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 60%;
}